@model IEnumerable<aspBattleArena.Models.Boss>
@* *@
@* @{ *@
@*     ViewData["Title"] = "Index"; *@
@* } *@

<h1>Bosses</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            Organization
            @* @Html.DisplayNameFor(model=>model.Organization) *@
        </th>

    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BossId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.OrganizationName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BossId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BossId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BossId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
